
/* цвет основного текста черный #212121 */
/* цвет вторичного текста белый #757575 */
/* акцент голубой #2196F3; */
/* фон кнопки голубий #2196F3*/

:root {
    --main-color: #212121;
    --second-color: #757575;
    --button-text-color: #ffffff;
    --accent-color: #2196F3;
    --logo-main-color: rgba(33, 150, 243, 1);
    --logo-second-coolor: rgba(0, 0, 0, 1);
    --logo-last-color: rgba(255, 255, 255, 1);
    --logo-accent-color: #2196F3;
    --section-background-color: #2F303A;
    --address-contact-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    /* outline: 2px solid gray; */
}

.logo .title {
    color: var(--logo-second-coolor);
}

.header-nav {
    align-items: center;
}

.header-nav .logo {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--logo-main-color);
}

.header-nav .logo {
    text-decoration: none;
}

.list {
    display: flex;
    list-style: none;
}

/* верхній список посилань */

.main-nav {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-nav {
    display: flex;
    align-items: center;
}

.site .link:hover,
.site .link:focus {
    color: var(--accent-color);
}

/* .site li {
    outline: 1px solid red;
} */

.site {
    margin: 0;
    margin-left: 93px;
    padding-left: 0;
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.item {
    display: block;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
} 

.item:last-child {
    margin-right: 0;
}

.main-contact {
    display: flex;
    align-items: center;
}

.thumbs {
    margin-right: 10px;
}

.main-border:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.site .link {
    color: var(--main-color);
}

/* для сторінки Портфоліо .site .link */
.site .link {
    color: var(--main-color);
}
/* .site .link */

.site .link.current {
    color: var(--accent-color);
}

.site .link {
    text-decoration: none;
}

/* .site-auth li {
    outline: 2px solid red;
} */

/* іконкі */

.site-auth {
    margin: 0;
    padding-left: 0;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.site-auth .link {
    text-decoration: none;
}

.site-auth .link-item {
    display: block;
}

.site-auth .link-item {
    text-decoration: none;
}

.site-auth .link-item:hover,
.site-auth .link-item:focus {
    color: var(--accent-color);
}

.site-auth .link:hover,
.site-auth .link:focus {
    color: var(--accent-color);
}

.site-auth .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--second-color);
}

.site-auth .link-item {
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--second-color);
}

.site-auth .link-icon {
    fill: currentColor;
    margin-right: 10px;
}

/* секція ефективні рішення */

.section-title {
    width: 696px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-transform: uppercase;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}

.section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--section-background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
        ), 
        url("../images/Img\(1\).png");
}

.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: inherit;
    background-size: cover;
}

/* кнопка "Замовити послугу"*/

.button:hover,
.button:focus {
    background-color: #188CE8;
}

.button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    
    color: var(--button-text-color);
    background-color: var(--logo-main-color);
}

.button {
    cursor: pointer;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* секія переваги */
.strong {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-items {
    margin: 0;
    padding-left: 0;
    display: flex;
}

.items {
    margin-right: 30px;
}

.items:last-child {
    margin-right: 0;
}

.main-antenna {
    display: flex;
    height: 120px;
    /* border: 2px solid red; */
    background-color: rgba(245, 244, 250, 1);
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.antenna {
    display: flex;
    height: auto;
}

.list-items .quote {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list-items .text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--second-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* секція чим ми займаємося */

.desc {
    padding-bottom: 94px;
}

.desc-one {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.desc-list {
    display: flex;
    justify-content:space-between;
}

img {
    display:block;
    width: 100%;
    height: auto;
}

.desc-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/* секція наша команда */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-caption {
    margin-top: 0px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.professionals {
    margin-top: 30px;
    margin-bottom: 16px;
}

.excerpt {
    margin: 0;
    margin-bottom: 10px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.card {
    margin-right: 30px;
}

.card:last-child {
    margin-right: 0;
}

.team-item .excerpt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.subject {
    margin: 0;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--second-color);
}

/* іконки секції Наша команда */

.card .thumb {
    display: flex;
    padding: 0;
    padding-bottom: 30px;
    justify-content: center;
    gap: 10px;
}

.element {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.element:hover {
    background-color: var(--accent-color);
}

.elements {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    fill: #AFB1B8;
}

.elements:hover .social-icon {
    fill: var(--button-text-color);
}

/* секція наші клієнти */

.pre-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    margin: 0;
    margin-bottom: 50px;
}

.clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.logo-company {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.pre-company {
    flex-basis: calc((100%-150px) / 6);
}

.main-company {
    display: flex;
    height: 92px;
    border: 1px solid #AFB1B8;
    color: rgba(175, 177, 184, 1);
    justify-content: center;
    padding: 0;
    border-radius: 4px;
}

.company {
    display: flex;
    height: auto;
    fill: currentColor
}


.main-company:hover,  
.main-company:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

/* секція контакти */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background-color);
}

.decoration {
    padding-left: 0;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--logo-main-color);
}

.footer .logo {
    text-decoration: none;
}

.footer .logo .title {
    color: var(--logo-last-color);
}

.address-list {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-color);
}

.address-list .mail:hover,
.address-list .mail:focus {
    color: var(--accent-color);
}

.address-list .tel:hover,
.address-list .tel:focus {
    color: var(--accent-color);
}

.footer .link {
    display: block;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.mail {
    text-decoration: none;
}

.mail {
    display: block;
    margin-bottom: 9px;
    color: var(--address-contact-color);
    
    font-style: normal;
}

.tel {
    font-style: normal;
    color: var(--address-contact-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.tel {
    text-decoration: none;
}

.slogan {
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 12px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--button-text-color);
}

/* іконкі футера */

.contacts {
    display: flex;
}

.contacts-address {
    margin-right: 70px;
}

.lists {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.networks {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
}

.networks:last-child {
    margin-right: 0;
}

.instagram:hover {
    background-color: var(--accent-color);
}

.icons-link {
    fill: #FFFFFF;
}

.instagram {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

}

/* сторінка ПОРТФОЛІО*/

/* список кнопок */

.filter {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* visually-hidden */

.hero-button {
    display: flex;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
    justify-content: center;
}

.hero-button .btn {
    border-radius: 4px;
    border: 1px solid transparent;
}

.hero-button .btn.current {
    color: var(--button-text-color);
    background-color: var(--accent-color);
}

.hero-button .btn:hover,
.hero-button .btn:focus {
    color: var(--button-text-color);
    background-color: #188CE8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-button .btn {
    cursor: pointer;
}

.hero-button .btn {
    display: inline-flex;
    margin: 0;
    padding: 6px 22px;
    justify-content: center;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--main-color);
}

.filters {
    margin-right: 8px;
}

.filters:last-child {
    margin-right: 0;
}

/* список карток */

.card-second {
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    flex-wrap: wrap;
}

.after-cards {
    padding: 20px 24px;
}

.cards {
    margin-right: 30px;
    margin-bottom: 30px;
}

.cards:nth-child(3n) {
    margin-right: 0;
}

.border {
    display: block;
}

.after-cards {
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
}

.cards .border:hover,
.cards .border:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link {
    text-decoration: none;
}


.heading {
    margin: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-color);
}

.tagline{
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    
    color: var(--second-color);
}

.footer .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    
    color: var(--logo-main-color);
}

.footer .logo .title {
    color: var(--logo-last-color);
}